.cactus-classical-serif-regular {
  font-family: "Cactus Classical Serif", serif;
  font-weight: 400;
  font-style: normal;
}


body {
  background: #f5f5f7;
  margin: auto;
  overflow: hidden;
  background-image: url(img/backg.png);
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard */
}

div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  
}

img {
  display: block;
  width: 100%;
}

.cover-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  height: 37%;
  position: absolute; /* Changed from fixed to absolute */
  justify-content: flex-start;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  left: auto;
  right: auto;
  width: 100%;
  overflow: visible;
  justify-items: center;
  align-content: center;
  gap: 30px;
  
}

.cover-score .cover {
  margin-right: 50px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 26px;
  position: relative;

}

.cover {
  cursor: pointer;
}

.cover-score .cover:after {
  background: url("https://pudding.cool/2020/12/judge-my-spotify/assets/images/shelf-2.png");
  content: "";
  position: absolute;
  display: none;
  left: 50%;
  width: 300%;
  height: 300%;
  top: 0;
  -webkit-transform: translate(-50%, -41px);
  -ms-transform: translate(-50%, -41px);
  transform: translate(-50%, -41px);
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
}

.cover-score .cover .cover-img {
  -webkit-transform: perspective(1090px) rotateX(10deg);
  transform: perspective(1090px) rotateX(10deg);
  z-index: -1;
  width: 100%;
  height: 100%;
}

.cover-score .cover .cover-img img {
  -webkit-filter: saturate(0.9);
  filter: saturate(0.9);
}

.cover-score .cover .cover-img .img-fake {
  position: absolute;
  z-index: -1;
  top: -1px;
  left: 0;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-size: cover;
  -webkit-transform: translate(-1px, 0) scaleY(0.99);
  -ms-transform: translate(-1px, 0) scaleY(0.99);
  transform: translate(-1px, 0) scaleY(0.99);
  -webkit-filter: brightness(0.94) blur(0.2px) saturate(0.9);
  filter: brightness(0.94) blur(0.2px) saturate(0.9);
}

.cover-score .cover .cover-img .plastic {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: calc(100% + 2px);
  height: calc(100% - 1px);
  background: url(https://pudding.cool/2021/10/judge-my-music/assets/images/plastic-small.jpg);
  background-size: contain;
  mix-blend-mode: screen;
  opacity: 1;
  z-index: 100000;
  mix-blend-mode: difference;
  opacity: 0.35;
}

.cover-score .cover .shelf {
  background: url("https://pudding.cool/2021/10/judge-my-music/assets/images/shelf-3.png");
  width: 155px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 17px;
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(-8px, 11px);
  -ms-transform: translate(-8px, 11px);
  transform: translate(-8px, 11px);
  z-index: 100;
  -webkit-transform: translate(calc((100% + 15px) * -0.0516129032), calc(65%));
  -ms-transform: translate(calc((100% + 15px) * -0.0516129032), calc(65%));
  transform: translate(calc((100% + 15px) * -0.0516129032), calc(65%));
  height: calc((100% + 15px) * 0.109677419);
  width: calc(100% + 15px);
}

.cover-score .cover .shelf:after {
  content: "";
  background: -o-linear-gradient(
      330deg,
      rgba(255, 255, 255, 0) 42%,
      rgba(0, 0, 0, 0.15) 45%,
      rgba(0, 0, 0, 0.35) 65%
    ),
    -o-linear-gradient(70deg, rgba(255, 255, 255, 0) 38%, rgba(0, 0, 0, 0.25)
          45%, rgba(0, 0, 0, 0.23) 55%, rgba(0, 0, 0, 0.13) 75%),
    -o-radial-gradient(50% 100%, ellipse, rgba(0, 0, 0, 0.15) 3%, rgba(
            255,
            255,
            255,
            0
          )
          40%);
  background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 42%,
      rgba(0, 0, 0, 0.15) 45%,
      rgba(0, 0, 0, 0.35) 65%
    ),
    linear-gradient(
      20deg,
      rgba(255, 255, 255, 0) 38%,
      rgba(0, 0, 0, 0.25) 45%,
      rgba(0, 0, 0, 0.23) 55%,
      rgba(0, 0, 0, 0.13) 75%
    ),
    radial-gradient(
      ellipse at 50% 100%,
      rgba(0, 0, 0, 0.15) 3%,
      rgba(255, 255, 255, 0) 40%
    );
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 9px;
  left: 0;
  -webkit-transform: translate(0, 100%) scaleY(-0.5) scaleX(0.85);
  -ms-transform: translate(0, 100%) scaleY(-0.5) scaleX(0.85);
  transform: translate(0, 100%) scaleY(-0.5) scaleX(0.85);
  background: rgba(0, 0, 0, 0.5);
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.cover-score .cover .shelf-shadow {
  width: 151px;
  height: 13px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: 0;
  bottom: -1px;
  z-index: -1;
  -webkit-transform: translate(-6px, 0);
  -ms-transform: translate(-6px, 0);
  transform: translate(-6px, 0);
  display: none;
}

.cover-score .cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.cover-score-wrapper {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 70%;
}

.cd {
  background-image: url(img/CD.png);
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: -1;
  background-size: cover;
  top: 0;
  left: 50px;
}

.stick {
  background-image: url(img/STICK.png);
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: -1;
  background-size: cover;
  top: 0;
  left: 50px;
}

.image-card {
  height: 120px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 985px) {
  .cover-score {
    gap: 20px 10px;
  }
}

@media (max-width: 885px) {
  .cover-score {
    gap: 20px 10px;
    grid-template-columns: 2fr 2fr 2fr;
  }
}

@media (max-width: 720px) {
  .cover-score {
    gap: 20px 10px;
    grid-template-columns: 2fr 2fr 2fr;
  }
}

@media (max-width: 540px) {
  .cover-score {
    margin-top: 30%;
    gap: 20px 10px;
    grid-template-columns: 2fr;
  }

  .cover {
    width: 100px !important;
  }
  .cover-img.cover-img-active {
    height: 100px !important;
  }
  .cd {
    width: 100px;
    height: 100px;
    left: 44px;
  }

  .stick {
    width: 100px;
    height: 100px;
    left: 44px;
  }

  .loop-container {
scale: 80%;
}

.loop-container {
  scale: 80%;  
}



}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: rgba(241, 241, 241, 0.35);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre tous les enfants horizontalement */
}

/* Style pour le texte du footer */
#footer-text {
  margin: 0 0 10px 0;
  width: 100%;
  text-align: center;
}

/* Style pour le conteneur des boutons du footer */
#footer-buttons {
  display: flex;
  justify-content: center; /* Centre les boutons horizontalement */
  width: 100%;
  overflow: hidden;
}

/* FOOTER BUTTONS */
#footer-buttons a {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.3s ease, transform 0.3s ease;

  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(17, 32, 255, 0.8);

}

#footer-buttons a:hover {
  background: #8a7dff;
  transform: scale(1.05);
}

/* INFINITE MARQUEE 1*/
.hero-section {
  position: relative;
  overflow: hidden;
  display: flex;
  min-height: 40px;
}

.loop-container {
  margin-top: 10px;
  white-space: nowrap;
  font-size: 25px;
  letter-spacing: 3px;
}

.item {
  position: absolute;
}


/* INFINTE MARQUEE 2*/
.hero-section2 {
  position: relative;
  overflow: hidden;
  display: flex;
  min-height: 40px;
}

.loop-container2 {
  margin-top: 10px;
  white-space: nowrap;
  font-size: 25px;
  letter-spacing: 3px;
}

.item2 {
  position: absolute;
}

/* RAINBOW TEXT ON LINKS*/
a {
  text-decoration: none; 
  background: linear-gradient(to right, rgb(82, 25, 25), rgb(141, 91, 0), yellow, green, blue, indigo, violet);
  background-clip: text; 
  color: transparent; 
}
